.footer{
  width: 100%;
  overflow: hidden;
  background-color: #492933;
  color: #FFE1D0;

  &__text{
    width: 69%;
    text-align: left;
    display: inline-block;
  }

  &__year{
    width: 30%;
    text-align: right;
    display: inline-block;
  }

  
}