.manager{
  width: 100%;

  &__head-text{
    margin-top: 70px;
    text-align: left;
    // margin-left: 20px;  
  }

  &__photo{
    width: 34%;
    display: inline-block;
    text-align: center;

    &__img{}
  }

  &__info{
    width: 65%;
    display: inline-block;
    margin-bottom: 70px;

    &__text{}

    &__list{}
  }




}