.menu{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  &__el{
    display: inline-block;
    margin: 0;

    &__link{
      text-decoration: none;
      color: #FFE1D0;
      font-size: 16px;
    }

    &__link:hover{
      color: #FF4310;
      text-decoration: underline;
    }
  }


}