.problems{

  &__title{
    text-align: center;
  }


}

.accordion{}

.problem{
  text-decoration: none;
    font-weight: normal;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #000;

  &--active{
    color: #89c1a1;
  }

  &__info{}

  
}