.strategy{
width: 100%;

  &__title{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;

  }

  &__info{
    margin-left: 27px;
    // text-align: center;
  }

  &-column{
    width: 48.2%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px dashed #2B151B;

    &__title{
      text-align: center;
    }

    &__list{
      margin-left: 40px;
    }

    &__remember{
      line-height: 17px;
    }
  }

  &-column--first{
    border-left: none;
  }

  &__show{

    &--bad{}

    &__title{}

    &__list{
      margin-left: 42px;
    }

    
  }


}